*{
    background-color:beige;
    padding: 0px;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

#lista-productos{
    margin: 3px;
    padding: 3px;
    justify-content: space-around;

}

#lista-productos li{
    margin: 3px;
    padding: 3px;
    background-color: white;
    list-style: none;
}

#lista-productos p{
    background-color: white;
}

#lista-productos h2{
    background-color: white;
}


header{
    background-color: white;
    position: -webkit-sticky;
    display: flex;
    flex-direction: row;
    height: 75px;
    font-size: 20px;
    font-family:  'Work Sans', sans-serif;
    justify-content: space-between;
    padding: 5px;
    align-items: center;

}

.imgcarro{
    height: 35px;
    background-color: white;
    margin-right: 20px;
}

.imglogo{
    height: 75px;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: 'Work Sans', sans-serif;
}

.headertext{
    background-color: white;
}

.rayas{
    height: 35px;
}

.carroyrayas{
    background-color: white;
}

#menudesplegable{
    font-size: 20px;
    font-family:  'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
}

h1{
    font-family: 'Work Sans', sans-serif;
    margin: 15px;
}

h2{
    font-family: 'Work Sans', sans-serif;
    margin: auto;
    background-color: white;
}


p{
    font-family: 'Work Sans', sans-serif;
    line-height: 35px;
    margin: 15px;
    text-align: justify;
}


.bannertexto{
    text-align: center;
    top: 50%;
    left: 50%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/lápices.jpg");
    margin-top: 75px;
    height: 250px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position:initial;
    align-items: center;
    margin: auto;
    color: white;

}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.productobox{
    margin: 15px;
    list-style: none;
}

.productobox h1{
    background-color: white;
    width: 290px;
    margin: 0%;
}

.productobox p{
    background-color: white;
    width: 290px;
    margin: 0%;
}

.mostrando{
    display: flex;
}

.nomostrando{
    display: none;
}

.titulosfooter{
    font-size: 35px;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    background-color: white;
}

.textosfooter{
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    background-color: white;
}

footer{
    justify-content: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: white;

}

.footerul{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.imgprod{
    height: 290px;
    width: 290px;
}

.productos-agregados{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;

}

#productos-agregados li{
    background-color: white;
}
#productos-agregados h2{
    background-color: white;
    margin: 15px;
}
#productos-agregados p{
    background-color: white;
}

.btn-agregar{
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.imgagregada{
    height: 100px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#total{
    background-color: white;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    justify-content: space-around;
    margin: auto;
    width: 200px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sucursal{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.sucursal p{
    background-color: white;
}

.sucursales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom:15px;
    background-color: white;
}

.sucursalesdiv{
    text-align: center;
}

.mapa{
    width:500px;
    height:350px;
}

@media only screen and (min-width:425px) {
    .rayas{
        display: none;
    }

    #menudesplegable{
        display: none;
    }

    .modalelementos{
        background-color: white;
        list-style: none;
        display: flex;
        flex-direction: row;
    
    }
}

@media only screen and (max-width:425px) {
    .headertext{
        display:none;
    }
    .rayas{
        display: flex;
    } 
    header{
        justify-content: space-between;

    }
    .carroyrayas{
        display: flex;
        flex-direction: row;
        margin-right: 5px;
    }


    .modalelementos{
        background-color: white;
        list-style: none;
        display: flex;
        flex-direction: column;
    
    }

    .mapa{
        width:250px;
        height:150px;
    }

    .sucursales{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
        margin-bottom:15px;
        background-color: white;
        width: 250px;
    }
}